out/
simulations/results/
*.exe
src/AeronauticalCommunicationSimulator
src/AeronauticalCommunicationSimulator_dbg
.qtenvrc
.cproject
.settings/language.settings.xml
src/Makefile
src/makefrag
src/src

